.schedule {
  @include abstract-card();
  overflow-x: scroll;
  position: relative;

  li::before {
    display: none;
  }

  ul.schedule-timeline,
  ul.schedule-group,
  ul.schedule-events {
    margin-top: 0;
    padding-left: 0;
  }

  ul.schedule-timeline {
    margin: 40px auto 0;
    position: absolute;
    width: 100%;
  }

  .schedule-time {
    font-size: 0.75rem !important;
    color: #656d76;
    height: 40px;
    margin: 0;
    padding: 0.5rem;
    position: relative;

    &::after {
      background-color: #d0d7de;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .schedule-group {
    display: flex;
    margin-bottom: 0;
    position: relative;
  }

  .schedule-day {
    border-left: 1px solid #d0d7de;
    flex: 1 0 0;
    margin: 0;
    min-width: 120px;

    &:first-of-type {
      border-left: 0;
    }
  }

  h2.schedule-header {
    align-items: center;
    display: flex;
    font-size: 18px !important;
    height: 40px;
    justify-content: center;
    margin: 0;
  }

  .schedule-events {
    display: flex;
    padding: 0;
    position: relative;
  }

  .schedule-event {
    background-color: #656d76;
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1), inset 0 -3px 0 rgba(0, 0, 0, .2);
    color: white;
    float: left;
    height: 100%;
    margin: 0;
    padding: 0.25rem 0.5rem;
    position: absolute;
    width: 100%;

    .name {
      font-size: 0.875rem !important;
      font-weight: 700 !important;
    }

    .time,
    .location {
      font-size: 0.75rem !important;
    }

    &.lecture {
      background-color: #656d76;
    }

    &.section {
      background-color: #8250df;
    }

    &.office-hours {
      background-color: #0969da;
    }
  }
}
